.hero h1 {
  font-family: 'Indie Flower', cursive;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0.8in;
  padding: 0.4em;
}
.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  min-height: 100dvh;
  background: #FFD3BA;
  color: black;
  font-family: Futura;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
/* This style was modified with help from Github Copilot
to make the Learn More button draggable - 12/16/25 */
.hero a {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: 'Indie Flower', cursive;
  text-decoration: underline;
  text-decoration-color: #000000;
  cursor: grab; /* Show that the button can be grabbed */
  user-select: none; /* Prevent text selection while dragging */
}
/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background 0.5s;
}
.hero.active {
  background: #fefefe;
}
.hero.active a {
  color: white;
  text-decoration-color: #0033a0;
}
@media (max-width: 800px) {
  .hero {
    font-size: 45px;
  }
}
@media (min-width: 801px) {
  .hero {
    font-size: 75px;
  }
}
