/* There's some sample CSS here which you can use or nuke as you like */

html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
}

body {
  /* Change to something you like, but please do customize the font! */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  /* reset default margins */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Customize colors! */
  background: #FFD3BA;
  color: #333;
}
h2 {
  color: #523B32;
  text-decoration: underline;
  text-decoration-color: #000000;
  margin-bottom: 8px;
}
p {
  margin-top: 0;
  font-family: "Englebert", cursive;
  font-weight: 400;
  font-style: normal;
}

main {
  /* Make sure our content can scroll the hero away */
  min-height: 100dvh;
  max-width: 45em; /* choose a width for text */
  line-height: 1.8; /* choose a line spacing */
  font-size: 18px; /* choose a font size */
  margin: auto;
  border-style: solid;
  border-radius: 1px;
  border-color: #000000;
  border-width: 3px;
  text-align: center;
}
